Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignConsecutiveShortCaseStatements: # 17
  Enabled: true
  AcrossComments: true
  AcrossEmptyLines: true
  AlignCaseColons: true
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen # 18
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true # 18
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
#AllowShortNamespacesOnASingleLine: false # 20
AlwaysBreakBeforeMultilineStrings: true
AttributeMacros: [ ]
BinPackArguments: true
#BinPackLongBracedList: true # 21
BinPackParameters: BinPack
BitFieldColonSpacing: Both
BracedInitializerIndentWidth: 4 # 17
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
BreakAdjacentStringLiterals: true # 18
BreakAfterAttributes: Leave # 16
BreakAfterReturnType: Automatic # 19
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeConceptDeclarations: Always
#BreakBeforeTemplateCloser: true # 21
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: false # 19
BreakInheritanceList: BeforeComma
BreakStringLiterals: false
BreakTemplateDeclarations: Yes # 19
ColumnLimit: 0
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
#EnumTrailingComma: Leave # 21
FixNamespaceComments: true
ForEachMacros: [ ]
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
#IndentExportBlock: false # 20
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentRequiresClause: true # 15
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertBraces: true # 15
InsertNewlineAtEOF: true # 16
KeepEmptyLines: # 19
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
NamespaceMacros: [ ]
PackConstructorInitializers: Never # 14
PointerAlignment: Left
QualifierAlignment: Custom # 14
QualifierOrder: [ 'friend', 'static', 'inline', 'constexpr', 'type', 'const', 'volatile', 'restrict' ] # 14
ReferenceAlignment: Pointer
ReflowComments: false
#RemoveEmptyLinesInUnwrappedLines: true # 20
RemoveParentheses: ReturnStatement # 17
RemoveSemicolon: true # 16
RequiresClausePosition: OwnLine # 15
RequiresExpressionIndentation: OuterScope # 16
SeparateDefinitionBlocks: Always # 14
ShortNamespaceLines: 1
SkipMacroDefinitionBody: false # 18
SortIncludes: CaseInsensitive
SortUsingDeclarations: Lexicographic
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
#SpaceAfterOperatorKeyword: false # 21
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: Latest
StatementAttributeLikeMacros: [ ]
StatementMacros: [ ]
TabWidth: 4
TypeNames: [ ] # 17
TypenameMacros: [ 'RB_REQUIRES_RETURN', 'RB_REQUIRES_RETURN_T' ]
UseTab: ForIndentation
WhitespaceSensitiveMacros: [ 'RBC_STRINGIFY' ]
#WrapNamespaceBodyWithEmptyLines: Always # 20
